
/*::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: #fff;
}
::-webkit-scrollbar-thumb {
	background-color: #fff;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #fff;
}*/

.project-page-animation:hover {
	cursor: pointer;
}

.project-page-animation:hover {
	opacity: 0.8;
}

@keyframes width-pulse {
	0% {
		stroke-width: 6px
	}
	50% {
		stroke-width: 14px;
	}
	100% {
		stroke-width: 6px;
	}
}
@keyframes dashoffset-seven {
	0% {
		stroke-dashoffset: 7px;
	}
	100% {
		stroke-dashoffset: 0px;
	}
}
@keyframes dasharray-craziness {
	0% {
		stroke-dasharray: 7px 2px;
	}
	80% {
		stroke-dasharray: 7px 100px;
		stroke-width: 10px
	}
	100% {
		stroke-dasharray: 7px 2px;
	}
}

.ct-chart .ct-series.ct-series-a .ct-line {
	stroke: rgba(0, 0, 0, 0.2);
	stroke-width: 2px;
}

.ct-chart .ct-series.ct-series-a .ct-point {
	stroke: rgba(0, 0, 0, 0.2);
	stroke-width: 5px;
}

.ct-chart .ct-series.ct-series-b .ct-line {
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 2px;
 /* stroke-dasharray: 5px 2px;
 animation: dashoffset-seven 200ms infinite linear;*/
}

.ct-chart .ct-series.ct-series-b .ct-point {
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 6px;
}








